@model DnD_Mapper___v2.Models.LoginUserModel;

@{
    ViewData["Title"] = "Login";
}

@section Styles {
    <link rel="stylesheet" href="~/css/pages/identity.css" />
    <link rel="stylesheet" href="~/css/shared/common.css" />
} 

<div class="parent">
    <div class="div1">
        <div class="align-middle">
            <div class="text-center">
                <h1 class="header-text">Login</h1>
            </div>
            <hr class="width-var" />

            <span class="row field-row">@ViewBag.LoginResult</span>
            <form asp-action="Login">
                <div class="row field-row">
                    <span asp-validation-for="Username" class=""></span><br />
                    <input asp-for="Username" placeholder="Username" class="form-control default-textfield">
                </div>
                <div class="row field-row">
                    <span asp-validation-for="Password" class=""></span><br />
                    <input asp-for="Password" type="password" placeholder="Password" class="form-control default-textfield">
                </div>
                <div class="row field-row top-space">
                    <div class="col"><input type="submit" class="btn button-default width100" value="Log in"></div>
                    <div class="col my-auto"><a href="@Url.Action("Register", "Identity")" class="link-default">Sign up</a></div>
                </div>
            </form>
        </div>
    </div>
</div>