.vertical-center {
    min-height: 80%;
    min-height: 80vh;
    display: flex;
    align-items: center;
}

.horizotal-center {
    width: 50%;
    margin: 0 auto;
}

.horizontal-offset {
    margin-left: 21%;
    margin-right: 21%;
}

/* Preset Values */
    /* Margins*/
    .top8 {
        margin-top: 8px !important;
    }

    /* Widths */
    .width100 {
        width: 100% !important;
    }

    .width50 {
        width: 50% !important;
    }