/* Footer Styling*/
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}


/* Font Sizing */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


/* Default Page Elements */

    /* Automatic Definition*/
body {
    background-color: #F4F4F9;
    background-image: url("/media/shared/default_background.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: #F4F4F9;
}

input[type=button] {
    background-color: #2D7DD2;
    color: #F4F4F9;
}

a:link {
    color: #2D7DD2
}

    a:link:hover {
        color: #1F2D3B;
        text-decoration: none;
    }


p { /* Default Text */
    color: #F4F4F9;
}

hr {
    color: #F4F4F9;
}


 /* Manual Definitions */

.text-field-default {
    background-color: #1F2D3B;
    border-color: #220B03;
    color: #F4F4F9;
}

    .text-field-default:focus {
        background-color: #1F2D3B;
        border-color: #F4F4F9;
        color: #F4F4F9;
    }

.button-default {
    background-color: #2D7DD2;
    color: #F4F4F9;
}

.link-default {
    color: #2D7DD2
}

    .link-default:hover {
        color: #1F2D3B;
        text-decoration: none;
    }


    


/* Custom Global Definitions */
.max-static-width { /* Maximum static width for non-flexible elements */
    width: 400px !important;
}
