@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "My Maps";
}

@*section Styles {
    <link href="@Url.Content("~/css/pages/maplist.css")" rel="stylesheet" type="text/css" />
}*@

<h1>Hello @User.Identity.Name!</h1>
