<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DnD Mapper</title>
    <link rel="icon" href="~/media/shared/dnd_icon.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/shared/common.css" />
    <link rel="stylesheet" href="~/css/shared/navbar.css" />
    <link rel="stylesheet" href="~/css/shared/alignment.css" />
    @RenderSection("Styles", false)

</head>
<body style="padding-left: unset; padding-right: unset;">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/media/shared/dnd_icon.png" width="30" height="30"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span><img src="~/media/shared/menu_dropdown_icon.png" width="30" height="30" /></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link nav-text" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>                        
                       @if (Context.Request.Cookies["user_id"] != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link nav-text" asp-area="" asp-controller="Campaign" asp-action="List">Campaign list</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container">
            &copy; 2021 - DnD Mapper
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
